.contactButton {
  font-size: 3rem; /* Increased size for the emoji */
  display: inline-block;
  padding: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s;
}

.contactButton:hover {
  transform: scale(1.1);
}
