/* vise.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .mainContent {
    max-width: 800px;
    margin: auto;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
  }
  .cadIframe {
    width: 100%; /* Responsive width */
    max-width: 640px; /* Maximum width */
    height: 480px; /* Fixed height */
    margin: 1rem auto; /* Centering and margin */
    border: none; /* Removes default border */
  }
  